<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="clsLBKLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="lbkmobile_ConnectionString"
    connectionString="Password=paslbkmobile;User ID=lbkmobile;Initial Catalog=Lbk.MobileApp;Data Source=Crossfire"/>
  </connectionStrings>
  <applicationSettings>
    
    <clsLBKLibrary.Properties.Settings>
      <setting name="Test" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="lbkmobile_ConnectionString" serializeAs="String">
        <value>Password=paslbkmobile;User ID=lbkmobile;Initial Catalog=Lbk.MobileApp;Data Source=Crossfire</value>
      </setting>
      <setting name="clsLBKLibrary_loewenbraeusms_Service1" serializeAs="String">
        <value>http://loewenbraeusms.ip-connect.de/Service1.asmx</value>
      </setting>
    </clsLBKLibrary.Properties.Settings>
  </applicationSettings>
</configuration>